.container {
    color: black;
}

img {
    max-width: 90%;
    max-height: 90%;
    width: 90%;
    height: 90%;
}

tbody {
    background-color: #CFD5D5;
}

p, h4, a {
    color: #333;
}

a:hover {
    color: #4d3333;
    text-decoration: none;
    opacity: 0.9;
}

.tooltip-inner, .tooltip-inner a, .tooltip-inner p, .tooltip-inner h4 {
    background-color: #532D2D;
    color: #CFD5D5;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #532D2D;
}

.infoBooks img {
    max-width: 90%;
    max-height: 70%;
    width: 90%;
    height: 70%;
}

.likeAlign {
    text-align: center;
    margin-left: -0.8rem;
}

.textButton {
    display: none;
}
